<h2 mat-dialog-title>Update Book</h2>

<mat-dialog-content>
  <form #updateBookForm="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" id="title" name="title" [(ngModel)]="book.title" required>
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Choose Genre</mat-label>
      <mat-select id="journal" name="journal" [(ngModel)]="book.journal" required>
        <mat-option value="History">History</mat-option>
        <mat-option value="Science">Science</mat-option>
        <mat-option value="Horror">Horror</mat-option>
        <mat-option value="Drama">Drama</mat-option>
        <mat-option value="Novel">Novel</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Author</mat-label>
      <mat-select id="authorId" name="authorId" [(ngModel)]="book.authorId" required>
        <mat-option *ngFor="let author of authors" [value]="author._id">{{ author.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput id="publishedDate" name="publishedDate" [(ngModel)]="book.publishedDate" required>
      <mat-label>Date</mat-label>
      <input matInput>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close (click)="Cancel()">Cancel</button>
  <button mat-flat-button mat-dialog-close cdkFocusInitial (click)="Submit(updateBookForm)">Update</button>
</mat-dialog-actions>